node_modules
.DS_Store
.vscode

#results*
results/*

dash-test/results/*
!dash-test/results/generate_summary.py
!dash-test/results/batch_generate_summary.py
!dash-test/results/results_v3.1
!dash-test/results/results_v3.2
!dash-test/results/results_v3.2b
!dash-test/results/results_v3.2c
!dash-test/results/results_v3.3
dash-test/results_processing
dash-test-batch-old
dash-test/results_*
dash-test/tmpUserDataDir
dash-test/tc-network-profiles/log/*
!dash-test/tc-network-profiles/log/sample_10c_Cascade.csv

cmcd-server/nginx/media/vod/QualaDataset/*
!cmcd-server/nginx/media/vod/QualaDataset/readme.txt
cmcd-server/nginx/media/vod/NossdavCMCD/*
!cmcd-server/nginx/media/vod/NossdavCMCD/readme.txt

server/nodejs/public/media/vod/bbb/*
!server/nodejs/public/media/vod/bbb/readme.txt
